body {
    font-family: "Montserrat", sans-serif ;
    color: #ffffff;
    background-color: #1d1d1d;
    margin: 0;
}

.main__cover {
    display: flex;
    justify-content: space-between;
    background-image: url("./img/background.png");
    background-size: 100%;
    height: 800px;
}

.main__cover-new-game-title {
    font-size: 54px;
    font-weight: bold;
    width: 400px;
    line-height: 48px;
    margin-left: 150px;
    margin-top: 150px;
}

.main__cover-new-game-description {
    font-size: 36px;
    color: #b2bcd2;
    margin-left: 150px;
    width: 400px;
}

.main__cover-poster {
    border-radius: 10%;
    width: 760px;
    position: relative;
    bottom: -166.45px;
}

.best-sellers,
.trending-games {
    background-color: #000000;
}

.title {
    font-size: 36px;
    margin: 0 0 0 125px;
    padding-top: 50px;
    text-transform: uppercase;
}

.shop-by-category__gallery-link,
.best-sellers__gallery-link,
.trending-games__gallery-link {
    text-decoration: none;
    color: #ffffff;
}

.best-sellers__gallery,
.trending-games__gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(257px, 1fr));
    padding: 20px;
}

.shop-by-category__gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
    padding: 20px;
}

.shop-by-category__gallery-item,
.best-sellers__gallery-item,
.trending-games__gallery-item {
    text-align: center;
    margin: 30px;
}

.shop-by-category__gallery-element {
    width: 357px;
    height: 475px;
    border-radius: 7%;
    object-fit: cover;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.6s;
}

.best-sellers__gallery-element,
.trending-games__gallery-element {
    width: 257px;
    height: 375px;
    border-radius: 7%;
    object-fit: cover;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.shop-by-category__gallery-element:hover {
    transform: scale(1.05);
}

.game-table {
    margin: 50px 50px 100px 125px;
}

.table-header {
    font-weight: bold;
    text-transform: uppercase;
}

.table-row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

.table-row:nth-child(even) {
    background-color: #333;
}

.table-cell {
    border: 1px #ffffff solid;
    padding: 10px;
    text-align: center;
}

.footer__contacts {
    display: flex;
    justify-content: space-around;
    background-color: #1d1d1d;
}

.products__list, .policy__list, .store__list {
    list-style: none;
    padding: 0;
}

.products__link, .policy__link {
    color: #ffffff;
    text-decoration: none;
}

.products__item, .policy__item, .store__item {
    margin-bottom: 15px;
}

.footer__page-load {
    margin-left: 120px;
}


.products__title, .policy__title, .store__title {
    font-size: 20px;
    margin-bottom: 20px;
}

@media (max-width: 1230px) {
    .main__cover-poster {
        display: none;
    }
}